@model sfl.Models.Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight) g
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height) cm
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width) cm
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depth) cm
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Parcel status")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParcelStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Recipient street")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipientStreet.CityCode),&nbsp
            @Html.DisplayFor(model => model.RecipientStreet.StreetName)&nbsp;
            @Html.DisplayFor(model => model.RecipientStreet.StreetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Sender street")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderStreet.CityCode),&nbsp
            @Html.DisplayFor(model => model.SenderStreet.StreetName)&nbsp;
            @Html.DisplayFor(model => model.SenderStreet.StreetNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
